*{
    margin: 0px!important;
    padding: 0px!important;
    font-family: 'Comic Neue', cursive;
    
}

body{
    
}



#view-data{
    width: 100% !important;
    min-width: 65vw !important;
    max-height: 86vh;
    overflow: scroll !important;
}

#travel-create{
    max-height: 86vh;
    overflow: scroll !important;
}

.card-app{
    border-radius: 20px;
    width: 100% !important;
    height: 250px;
    background-color: #f5f6f9;
    -webkit-box-shadow: inset 0px 60px 24px -18px rgba(0,0,0,0.02);
    -moz-box-shadow: inset 0px 60px 24px -18px rgba(0,0,0,0.02);
    box-shadow: inset 0px 60px 24px -18px rgba(0,0,0,0.02);
}

.head-data{
    border-radius: 20px;
    width: 100% !important;
    height: auto;
    background-color: #f5f6f9;
}

.my-card{
    
    border-radius: 20px;
    width: 100% !important;
    height: auto;
    background-color: #f5f6f9;
    -webkit-box-shadow: inset 0px 60px 24px -18px rgba(0,0,0,0.02);
    -moz-box-shadow: inset 0px 60px 24px -18px rgba(0,0,0,0.02);
    box-shadow: inset 0px 60px 24px -18px rgba(0,0,0,0.02);
}

.my-card-2{
    overflow: scroll;
    margin: 5px;
    border-radius: 20px;
    width: 70% !important;
    height: 98%;
    background-color: white;
}

.left-data-view{
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

::-webkit-scrollbar {
    display: none;
}

/* .container:hover{
    transform: scale(1.05);
} */

#bg{
	opacity:.80;
	position: absolute;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:1001;
	opacity: 0.8;
}

#loader {
    z-index: 999999999;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


.travel-create input{
    width: 70vw !important;
}

.travel-create textarea{
    width: 70vw !important;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    .travel-request{
        /* margin: 20px 50px 20px 50px !important; */
        /* border-radius: 50px 50px 50px 50px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .left-sidebar{
        /* border-radius: 50px 0px 0px 50px; */
        background: #0e52ff;
        background: linear-gradient(0deg, #0e52ff 40%, rgb(2, 40, 194) 60%);
        /* background-color: #007bff; */
        height: 101vh;
        width: 100%;
    }

    .left-sidebar a{
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 300;
    }
    
    .left-sidebar a{
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    
    .left-sidebar a:hover{
        color: white;
    }
    
    .container{
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }